<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bongostyle.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        {% if request.get_full_path == '/bongocat' %}
        <script src="{% static 'gsap/gsap-public/minified/gsap.min.js' %}"></script>
        {% endif %}
        <title>AOC Scoreboard</title>
    </head>
    <body>
        <div id="menu">
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu-inner">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Scoreboard</a></li>
                    <li><a href="#">Stats</a></li>
                    <li><a href="https://github.com/Git-Romer/Advent-of-Code" target="_blank">GitHub</a></li>
                    <li><a href="{% url 'bongocat' %}">BongoCat</a></li>
                </ul>
            </div>

            <svg version="1.1" id="blob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z" />
            </svg>
        </div>
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
        {% block content %}{% endblock content %} {% if request.get_full_path == '/bongocat' %}
        <script type="text/javascript" src="{% static 'js/bongocat.js' %}"></script>
        {% endif %}
    </body>
</html>
