.warning-content h1 {
    font-weight: 100;
    font-size: 2.6rem;
    color: #ffff;
    position: unset;
}

.warning-content p {
    font-weight: 300;
    font-size: 1.3rem;
    color: rgb(162, 162, 162);
}

.warning-content {
    position: absolute;
    z-index: 1;
    top: 25%;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0;
}
