@font-face {
    font-family: "Josefine Sans";
    src: url("../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

body,
html {
    font-family: "Josefine Sans";
}

h1 {
    color: brown;
}
